@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
    font-family: Collegia;
    src: url(../font/COLLEGIA.ttf);
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway';
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body, html{
	font-size: 14px;
}

h1{
	font-size: 3rem;
	color: white;
	font-weight: 100;
}

h1 > span{
	color: #FF9955;
	color: #F34F29;
	text-shadow: 1px 1px #FF9955;
	font-family: 'Collegia';
	font-size: 5rem;
}

.background{
	background-color: #ff2233;
	border: 50px solid #ff3344;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

